apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: platform-dev
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
      name: http
      protocol: TCP